<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="card">
      <% if (typeof user !== 'undefined') { %>
      <h1>Hello <%= user.username %></h1>
      <% } else { %>

      <h1><%= title %></h1>
      <div class="flex" id="form-home"></div>

      <% } %>
    </div>

    <script src="js/home.js"></script>
  </body>
</html>
